//-
//- MAIN NAVBAR
//- All navigation links go here
//-

nav.navbar.navbar-inverse.fixed-to-top
  .container
    #main-navbar.main-navbar.navbar-collapse.collapse
      //- Left part of navbar
      ul.nav.navbar-nav.navbar-left
        each item in navbar.left
          li
            a(href=item.href, title=item.title)= item.title
      //- Right part of navbar
      ul.nav.navbar-nav.navbar-right
        each item in navbar.right
          li
            a(href=item.href, title=item.title)= item.title
    //- Header for mobile devices
    .navbar-header
      button(
        type="button",
        class="navbar-toggle collapsed",
        data-toggle="collapse",
        data-target="#main-navbar",´
        aria-expanded="false")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
